<div class="contacts-conteiner">
  <h3 class="contacts-title">Контакти</h3>
  <div>
    <span class="contacts-link-type">Тел: </span>
    <a class="contacts-link" href="tel:38{{person.phone}}">{{person.phone}}</a>
  </div>

  <div>
    <span class="contacts-link-type">E-mail:</span>
    <a class="contacts-link" href="mailto:{{person.email}}">{{person.email}}</a>
  </div>

  <div>
    <a class="contacts-link" href="{{person.github}}"><span class="contacts-link-type">GitHub</span></a>
<!--    <a class="contacts-link" href="{{person.github}}">{{person.github}}</a>-->
  </div>

  <div>
    <a class="contacts-link" href="{{person.linkedIn}}"><span class="contacts-link-type">LinkedIn</span></a>
  </div>
</div>
